<div class="container-fluid footer mt-5 bg-dark">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>SAP Consulting services</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, aperiam accusantium, deserunt accusamus expedita perferendis incidunt nam est at obcaecati quisquam quasi earum iure a voluptatum suscipit vel nisi possimus!</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-3 mt-3 mb-3">
            <a href="#page-top" class="js-scroll-trigger">Home</a>
            <a href="#services" class="js-scroll-trigger">Services</a><br>
            <a href="#portfolio">Portfolio</a>
            <a href="#about">About</a><br>
            <a href="#team">Team</a>
            <a href="#contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-3 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>